<section id="inicio" class="bg-white dark:bg-gray-900">
  <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
      <img class="w-100 h-100 object-cover rounded-full mx-auto" src="img/oravla.jfif">
      <div class="mt-4 md:mt-0 text-center">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Bienvenidos a mi website</h2>
          <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Hola, mi nombre es Álvaro Hernández, soy Ingeniero Informático con experiencia en desarrollo Móvil, Web, Front End, Backend, Servidores, Automatización, Análisis de datos y digitalización de procesos.</p>
          <button (click)="redirectToLinkedIn()" class="rounded-full">Contactame</button>
      </div>
  </div>
</section>

<section id="sobre-mi" class="bg-white dark:bg-gray-900">
  <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
      <figure class="max-w-screen-md mx-auto">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Sobre mi</h2>
          <blockquote>
              <p class="text-2xl font-medium text-gray-900 dark:text-white">"Ingeniero Informático responsable, con mucha inicitiva y proactividad, con capacidad de adaptación y flexibilidad, ademas de contar con experiencia en desarrollo Móvil, Web, Front End, Backend, Servidores, Automatización, Análisis de datos y digitalización de procesos. En conjunto con estos conocimientos también tengo la capacidad para poder trabajar en equipo, adaptarme rápidamente, ser flexible y trabajar bajo marcos de metodologías agiles o tradicionales."</p>
          </blockquote>
          <figcaption class="flex items-center justify-center mt-6 space-x-3">
              <img class="w-12 h-12 rounded-full" src="img/oravla.jfif" alt="profile picture">
              <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                  <div class="pr-3 font-medium text-gray-900 dark:text-white">Álvaro Hernández</div>
                  <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">Full Stack Developer</div>
              </div>
          </figcaption>
      </figure>
  </div>
</section>

<section id="habilidades" class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 text-center">
      <div class=" mb-8 lg:mb-16">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Habilidades</h2>
      </div>
      <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
          <div>
            <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Trabajo en equipo</h5>
              <i class="fa-solid fa-users fa-beat fa-xl" style="color: #ffffff;"></i>
            </a>
          </div>
          <div>
            <a  class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Comunicación</h5>
              <i class="fa-solid fa-head-side-cough fa-beat fa-xl" style="color: #ffffff;"></i>
            </a>
          </div>
          <div>
            <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Iniciativa</h5>
              <i class="fa-solid fa-hand-point-up fa-beat fa-xl" style="color: #ffffff;"></i>
            </a>
          </div>
          <div>
            <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Proactividad</h5>
              <i class="fa-solid fa-fire fa-beat fa-xl" style="color: #ffffff;"></i>
            </a>
          </div>
          <div>
            <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Adaptación</h5>
              <i class="fa-solid fa-brain fa-beat fa-xl" style="color: #ffffff;"></i>
            </a>
          </div>
          <div>
            <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Responsabilidad</h5>
              <i class="fa-solid fa-user-tie fa-beat fa-xl" style="color: #ffffff;"></i>
            </a>
          </div>
      </div>
  </div>
</section>

<section id="herramientas" class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 text-center">
      <div class=" mb-8 lg:mb-16">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Herramientas</h2>
      </div>


      <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
        <div>
          <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Frameworks</h5>

            <div>
              <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Angular</h5>
                <i class="fa-brands fa-angular fa-flip fa-2xl" style="color: #e00000;"></i>
              </a>
            </div>

            <div>
              <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Ionic</h5>
                <i class="fa-regular fa-circle-dot fa-flip fa-2xl" style="color: #74C0FC;"></i>
              </a>
            </div>

            <div>
              <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Django RF</h5>
                <i class="fa-brands fa-python fa-flip fa-2xl" style="color: #3a5c92;"></i>
              </a>
            </div>
          </a>
        </div>

        <div>
          <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Lenguajes</h5>

            <div>
              <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">JS</h5>
                <i class="fa-brands fa-js fa-flip fa-2xl" style="color: #FFD43B;"></i>
              </a>
            </div>

            <div>
              <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Python</h5>
                <i class="fa-brands fa-python fa-flip fa-2xl" style="color: #3a5c92;"></i>
              </a>
            </div>

            <div>
              <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">HTML</h5>
                <i class="fa-brands fa-html5 fa-flip fa-2xl" style="color: #eb9500;"></i>
              </a>
            </div>

            <div>
              <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">CSS</h5>
                <i class="fa-brands fa-css3-alt fa-flip fa-2xl" style="color: #0147c1;"></i>
              </a>
            </div>
          </a>
        </div>

        <div>
          <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sist. Operativos</h5>

            <div>
              <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Debian</h5>
                <i class="fa-brands fa-debian fa-flip fa-2xl" style="color: #ff0000;"></i>
              </a>
            </div>


            <div>
              <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Linux</h5>
                <i class="fa-brands fa-linux fa-flip fa-2xl"></i>
              </a>
            </div>
            <div>


              <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Windows</h5>
                <i class="fa-brands fa-windows fa-flip fa-2xl" style="color: #74C0FC;"></i>
              </a>
            </div>
          </a>
        </div>


        <div>
          <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Herramientas</h5>

            <div>
              <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Git Hub</h5>
                <i class="fa-brands fa-github fa-flip fa-2xl" style="color: #000000;"></i>
              </a>
            </div>

            <div>
              <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Git</h5>
                <i class="fa-brands fa-git fa-flip fa-2xl" style="color: #ff0000;"></i>
              </a>
            </div>

            <div>
              <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Node</h5>
                <i class="fa-brands fa-node fa-flip fa-2xl" style="color: #63E6BE;"></i>
              </a>
            </div>

            <div>
              <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Npm</h5>
                <i class="fa-brands fa-npm fa-flip fa-2xl" style="color: #ff0000;"></i>
              </a>
            </div>

            <div>
              <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Raspberry PI</h5>
                <i class="fa-brands fa-raspberry-pi fa-flip fa-2xl" style="color: #ff0000;"></i>
              </a>
            </div>

            <div>
              <a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Docker</h5>
                <i class="fa-brands fa-docker fa-flip fa-2xl" style="color: #2586d0;"></i>
              </a>
            </div>
          </a>
        </div>

      </div>
  </div>
</section>
